{% extends "layout.html.twig" %}

{% set title = 'Something Went Wrong' %}

{% block content %}
    <div class="full">
        <div class="content center">
            <img src="/img/logo-full.svg" />
            <h1>We're really sorry :(</h1>
            <p>It seems like something went wrong on our end. Please check the URL you entered or go to our <a href="{{ path('landingPage') }}">homepage</a>.</p>
        </div>
    </div>
{% endblock %}
