{% extends "layout.html.twig" %}

{% set title = 'Bespoke Software Development' %}

{% block content %}
    <div class="overlay"></div>
    <div class="left">
        <img class="center" src="/img/logo-full.svg" />
    </div>
    <div class="right">
        <div class="content center">
            <h1>Welcome to Tadtech</h1>
            <p>We develop awesome software for amazing clients. Our new website will be ready soon :)</p>
            <p>In the meantime, feel free to <a href="mailto:info@tadtech.co.uk">get in touch</a> if you'd like to know more about us.</p>
            <div class="social">
                <a href="https://twitter.com/tadtechltd"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/tadtech/"><i class="fa fa-facebook-official"></i></a>
                <a href="https://github.com/tadtech"><i class="fa fa-github-alt"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
